#vpProject.vp
	aside.aside
		.inner
			.list-folder
				ul
	.main
		.inner
			.list-file
				ul
		.attr.show
			.list-attr
				label
					input#isHome(type="checkbox")
					span HOME模式
				label
					input#isCompress(type="checkbox")
					span 压缩模式
				//label
				//	input#isOther(type="checkbox")
				//	span HOME模式

