#vpServer.vp
	.list-input
		label
			span 服务器地址：
			input#serverPath(type="text" value="/usr/home/gavining/test1")
		label
			span 本地路径：
			input#localPath(type="text" value="/usr/home/gavinning/test2")
		label
			span key：
			input#key(type="password" value="123456")
