@charset "utf-8";
body{font:normal 14px/1.5 "\5FAE\8F6F\96C5\9ED1",Helvetica;color:#000;background-color:#fff;-webkit-user-select:none;-webkit-text-size-adjust:none}
body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0}
input[type="text"],textarea{-webkit-appearance:none}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-style:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}
header,section,footer{display:block;margin:0;padding:0}
a{text-decoration:none}
.dn{display:none}
::-webkit-scrollbar{width:6px;display:none}
::-webkit-scrollbar-track{background-color:#fff}
::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,0.4);border-radius:6px}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,0.5)}
::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,0.6)}
.iscroll{width:6px;border-radius:6px;background:rgba(0,0,0,0.6);position:absolute;top:0;right:2px;opacity:0;transition:all 400ms ease 200ms}
body{overflow:hidden;position:absolute;width:100%;height:100%;left:0;top:0;background:#fff;font-family:Menlo,'微软雅黑';cursor:default}
ul,li{list-style:none}
img{display:block}
header,nav,aside,footer{display:block}
#global_tips{position:fixed;top:-50px;left:50%;margin-left:-150px;width:300px;height:40px;line-height:40px;font-size:16px;color:#fff;text-align:center;background:rgba(0,0,0,0.8);border-radius:0 0 4px 4px;box-shadow:0 0 10px 1px rgba(0,0,0,0.5);transition:all 400ms ease}
.page{height:inherit;display:-webkit-box;-webkit-box-orient:vertical}
.header{-webkit-app-region:drag;border-radius:4px 4px 0 0}
.nav{display:-webkit-box;height:60px;border-top:1px solid rgba(106,106,106,0.8);border-bottom:1px solid rgba(122,122,122,0.3);background:-webkit-linear-gradient(top, #ecebe8, #d4d6d5);background:#eee;font-size:14px;line-height:60px;padding:0 12px;color:#666;text-shadow:1px 1px 1px #fff}.nav a{color:#666}
.nav li{margin-right:12px}.nav li.disable{color:#aaa}
.nav li.selected{color:#0083fc}.nav li.selected a{color:#0083fc}
.content{display:-webkit-box;-webkit-box-flex:1;overflow:hidden}.content>.vp{display:-webkit-box;width:100%;height:inherit}
.content .vp-config{display:block}
.aside{width:236px;height:inherit;overflow:hidden;background:#e2e6ec;border-right:1px solid #b4b4b4;position:relative}.aside>.inner{position:absolute;left:0;top:0;width:100%;height:100%;overflow-x:hidden;overflow-y:auto}
.main{-webkit-box-flex:1;height:inherit;overflow:hidden;position:relative}.main>.inner{position:absolute;left:0;top:0;width:100%;height:100%;overflow-x:hidden;overflow-y:auto;display:-webkit-box}
.footer{height:23px;border-top:1px solid #b8b8b8;display:-webkit-box}
.list-folder li{height:40px;line-height:40px;padding:0 12px;border-bottom:1px solid #ccc;border-top:1px solid #fff}.list-folder li:first-child{border-top:none}
.list-folder li:last-child{border-bottom:none}
.list-folder li.selected{background:rgba(0,0,0,0.1)}
.list-images{padding:4px;-webkit-transform:translate3d(0, 0, 0);-webkit-box-flex:1;margin-right:160px}.list-images ul{overflow:hidden}
.list-images li{-webkit-transform:translate3d(0, 0, 0);width:100px;height:160px;float:left;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;background-size:cover;background-position:center top;border:2px solid #fff;position:relative}.list-images li.current{border-color:#038dfa}.list-images li.current .iselected{display:block}
.list-images .iselected{width:30px;height:30px;position:absolute;right:10px;top:10px;display:none}
.list-images #getMoreImage{display:none}
.list-images img{-webkit-transform:translate3d(0, 0, 0)}
.btn{display:block;width:100%;height:40px;line-height:38px;font-size:17px;-webkit-box-sizing:border-box;border:none;background:#ddd;outline:0;color:#000;border-left:2px solid #fff;border-right:2px solid #fff}.btn:active{color:#f00}
#imageRightAside{width:160px;height:100%;background-color:#eee;position:absolute;right:0}
.list-drag li{border-bottom:1px solid #ddd;border-top:1px solid #fff;line-height:75px;text-align:center;transition:all 200ms ease 100ms}.list-drag li.dragover{font-size:20px;color:#fff;background:#0888ff}
.list-drag li.droped{transition:all 600ms ease 100ms}
.tips{font-size:12px;line-height:23px;padding:0 12px;color:#666}.tips:last-child{color:#06f}
.list-file{width:100%}.list-file li{border-bottom:1px solid #eee;padding:8px}
.list-file strong{display:block}
.list-file i{display:block;font-size:10px;color:#999}
.attr{position:absolute;right:0;top:0;width:200px;background:#eee;height:100%;transition:all 500ms ease;-webkit-transform:translate3d(210px, 0, 0)}.attr.show{-webkit-transform:translate3d(0, 0, 0)}
.list-attr{box-sizing:border-box;padding:8px 12px}.list-attr label{display:block;padding:2px 0}.list-attr label span{font-size:12px;margin-left:6px}
.list-input{box-sizing:border-box;width:100%;padding:8px 12px}.list-input label{display:-webkit-box;line-height:26px;padding:6px}.list-input label span{display:block;width:90px}
.list-input input{width:600px;border:1px solid #ddd;height:26px;outline:none;padding:0 6px}
